{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh"],
  "rules": {
    "react-refresh/only-export-components": ["warn", { "allowConstantExport": true }],
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/comma-dangle": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["*.config.*", "node_modules", "*.d.ts", "public/sw.js"]
}
